.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000; }

.background {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%; }
  .background.background-left {
    left: 0;
    background: #003143; }
  .background.background-right {
    right: 0;
    background: #0d4352; }

.background-texture {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  opacity: 0.8; }
  .background-texture.background-left {
    left: 0;
    background: url(../img/texture_dark.png) repeat; }
  .background-texture.background-right {
    right: 0;
    background: url(../img/texture_light.png) repeat; }

.background-gradient {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  opacity: 0.7; }
  .background-gradient.background-left {
    left: 0;
    background: -moz-linear-gradient(left, transparent 0%, rgba(0, 21, 38, 0.65) 100%);
    background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 21, 38, 0.65) 100%);
    background: linear-gradient(to right, transparent 0%, rgba(0, 21, 38, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6001526',GradientType=1 ); }
  .background-gradient.background-right {
    right: 0;
    opacity: 0.1;
    background: -moz-linear-gradient(right, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(right, white 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); }

.person {
  z-index: 4;
  position: absolute;
  bottom: 0;
  width: 350px;
  display: block;
  transition: all 200ms; }
  .person.person-left {
    left: 0; }
  .person.person-right {
    right: 0; }

.content {
  z-index: 5;
  position: absolute;
  width: 600px;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%); }
  .content .logo {
    opacity: 0;
    display: block;
    width: 300px;
    margin: 0 auto;
    transition: all 500ms; }
    .content .logo.fade-in {
      opacity: 1; }
  .content .icons {
    text-align: center; }
    .content .icons a {
      color: #fff;
      font-size: 2.5em;
      display: inline-block;
      background: #072229;
      width: 60px;
      height: 60px;
      line-height: 60px;
      margin: 0 10px;
      opacity: 0.7;
      transition: all 200ms ease-in-out;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3); }
      .content .icons a.twitter {
        background: #00aced; }
      .content .icons a.soundcloud {
        background: #f50; }
      .content .icons a.facebook {
        background: #3b5998; }
      .content .icons a.instagram {
        background: #125688; }
      .content .icons a.youtube {
        background: #bb0000; }
      .content .icons a.email {
        background: #fff;
        color: #000; }
      .content .icons a:hover {
        opacity: 1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .content .icons a:active {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3) !important; }
  .content .spacer {
    width: 200px;
    height: 1px;
    background: #fff;
    margin: 50px auto; }

@media (max-width: 768px) {
  .content {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none; }
    .content .logo {
      width: 200px;
      margin-top: 30px; }
    .content .icons {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .content .icons a {
        margin: 0;
        width: 16.6666666666666%;
        float: left;
        opacity: 1;
        box-shadow: none;
        font-size: 1.8em;
        height: 40px;
        line-height: 40px; }
    .content .spacer {
      display: none; }
  .person {
    width: 250px;
    bottom: 40px; } }
